     @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
     .navbar .logo { 
    font-family: "Poppins", sans-serif; 
         font-weight: 700;  font-style: normal;} 
     *{  margin: 0;  padding: 0;  box-sizing: border-box;}
     body {  background-color: #a1c3ff;    font-family: 'Poppins', sans-serif;    line-height: 1.5;    color: #333;    font-weight: 700;    font-style: normal;}
     .navbar{    height: 60px;    background-color: #3474e6;    color: #fff;    }
     .navbar .container{    max-width: 1200px;    height: 100%;    margin: 0 auto;    display: flex;    align-items: center;    justify-content: space-between;    padding: 0 30px;}
     .menu{    display: flex;    justify-content: space-between;}
     .navbar ul{    list-style: none;    }
     .navbar li{    margin-left: 30px;}
     .navbar a{    color: #fff;    text-decoration: none;    font-size: 18px;    font-weight: 700;    font-style: normal;}
     .navbar a:hover{    color: lightblue;}
     .heading{    color: #fff;    background-color:#0151cc;    min-height: 400px;    }
     .heading h1{    font-size: 2rem;    font-weight: 700;    font-style: normal;    }
     .heading .image{    max-width: 1200px;    padding-top: 20px;    height: 100px;    }
     .heading div{    padding-top: 30px;}
     .heading .container{    display: flex;    justify-content: space-between;    align-items: center;}
     .boxes .container{    display: flex;    justify-content: space-between;    }
     .boxes .box{    flex: 1;    background-color: #0151cc;    color: #fff;    padding: 15px 20px;    border-radius: 20px;    margin: 20px 10px;    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);}
     .boxes .box i{    margin-right: 10px;}
     @media screen and (max-width:768px) { 
         .heading .container{        flex-direction: column;        align-items: center;        padding-top: 20px;        justify-content: center;   } 
         .navbar .container{    max-width: 768px;    height: 100%;    margin: 0 auto;    display: flex;    align-items: center;    justify-content: space-between;    padding: 0 0px;    flex-shrink: 10; } 
         .navbar li{    margin-left: 10px;    padding-right: 10px;  } 
         .logo{ font-size: 15px;        padding-left: 10px; }
         .heading .container div{        text-align: center;    }
         .heading .container{        display: block;    }
         .boxes .container {    flex-direction: column;     align-items: center; }
         .boxes .box {    width: 100%;     margin: 10px 0;  }}.image{    width: 100%;}
     h1,h2{    margin-bottom: 5px;}.container{    max-width: 1100px;    margin: 0 auto;    padding: 0 30px;}