@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #a1c3ff;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    color: #333;
    font-weight: 700;
   
}

.navbar{
    height: 60px;
    background-color: #3474e6;
    color: #fff;
    }
.navbar .container{
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}
.menu{
    display: flex;
    justify-content: space-between;
}
.navbar ul{
    list-style: none;
    
}
.navbar li{
    margin-left: 30px;
}
.navbar h2{
    padding-left: 50px;
}
.navbar a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
}
.navbar a:hover{
    color: lightblue;
}

.heading{
    color: #fff;
    background-color:#0151cc;
    min-height: 400px;
    }

.heading h1{
    font-size: 2rem;
    
}
.heading p{
    font-weight: 400;
    padding: 10px 0;
   
}
.heading .ali{
    width: 10px;
    height: 5px;
    max-width: 10px;
    
}    

.heading div{
    padding-top: 30px;
    padding: 5px 0;
}

.heading .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
}
.boxes .container{
    display: flex;
    justify-content: space-between;
    padding: 0 200px;
    }
    .boxes p{
        font-weight: 400;
        padding-top: 20px;
    }
    .boxes .box{
    flex: 1;
    background-color: #0151cc;
    color: #fff;
    padding: 15px 20px;
    border-radius: 20px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
}
.boxes .box i{
    margin-right: 10px;
}
@media screen and (max-width:768px) {
    .heading .container{
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        justify-content: center;
    }
    .boxes .container:first-of-type, nth-of-type(2){
         flex-direction: row;
} 
            .navbar .container{
    max-width: 768px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
            }
            .navbar li{
    margin-left: 10px;
    padding-right: 10px;
            }
    .logo{
        font-size: 15px;
        padding-left: 10px;

    }
    .heading .container div{
        text-align: center;
    }
    .heading .container{
        display: block;
        
    }
      .boxes .container {
    flex-wrap: wrap;
}

.boxes .box {
    width: 100%; 
    padding: auto-fit;
  }
.heading .img{
    max-width: 1200px;
    padding-top: 20px;
    height: 100px;
    margin-bottom: 20px;
}
    .navbar{
        flex-shrink: 5;
    }
.boxes .container{
    padding: 0;
    }
}
@media screen and (max-width:600px) {
    .heading .container{
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        justify-content: center;
    }
            .navbar .container{
    max-width: 768px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    
            }
            
            .navbar li{
    margin-left: 10px;
    padding-right: 10px;
            }
    .logo{
        font-size: 15px;
        padding-left: 10px;

    }
    .heading .container div{
        text-align: center;
    }
    .heading .container{
        display: block;
        
    }
      .boxes .container {
    flex-direction: column; 
    align-items: center; 
}

.boxes .box {
    width: 100%; 
margin: 15px 10px;
    padding: 15px 10px;
  }
.heading .img{
    max-width: 1200px;
    padding-top: 20px;
    height: 100px;
    margin-bottom: 20px;
}
.boxes .container{
    padding: 0;
    }
.heading .container{
    padding: 0;
}
.navbar h2{
    padding-left: 0;
}
}